body {
	font-family: 'Roboto', sans-serif;
}

h1 {
	font-size: 4rem;
	margin-bottom: 2rem;
}

h2 {
	margin-bottom: 1rem;
	font-size:2em;
}

h1,h2 {
	font-family: 'Noto Serif Lao', serif;
}

p, ul {
	font-size: 1.5em;
    font-weight: 300;
    line-height: 1.5em;
}

picture {
	position: relative;

	& span {
		color: white;
		text-shadow: 1px 1px 0 var(--primary);
		position: absolute;
		bottom: 1rem;
		right: 1rem;
		font-size: 0.6em;
	}
}

img {
	max-width: 100%;
	height: 100%;
	object-fit: cover;
}

.logo {
	width:150px;
	height:150px;
}

a {
	/*color: var(--primary);*/
	font-weight:400;
	color: var(--color4);
	text-decoration: none;
	border-bottom: 0;
	transition: color 0.3s ease-in-out, border-bottom 0.3s ease-in-out;

	&:hover {
		border-bottom: 2px solid var(--primary);
		--primary: hsl(
			var(--primary-hue),
			var(--primary-saturation),
			calc(var(--primary-lightness) + 25%)
		);
		color: var(--primary);
	}
}

button {
	background-color: black;
	color: var(--secondary);
	padding: 0.8rem 1.2rem;
	border-radius: 10px;
	border-width: 5px;
	border-color: var(--secondary);
	border-style: solid;
	cursor: pointer;
	transition: background-color 0.3s ease-in-out;
	font-family: 'Noto Serif Lao', serif;
	font-weight: 700;

	&:hover {
		--secondary-saturation: 80%;
		--secondary: hsl(
			var(--secondary-hue),
			var(--secondary-saturation),
			var(--secondary-lightness)
		);
		background-color: var(--secondary);
	}
}

nav {
	padding: 0 var(--page-padding);

	& a:hover {
		border-bottom: none;
	}
}

fieldset {
	padding: 0;
	border: none;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	margin: 2rem 0;
	align-items: center;
}

label {
	width: 100%;
	/* position: absolute;
    color: #999;
    top: 1rem;
    left: 1rem;
    transition: top 300ms ease-in-out, font-size 300ms ease-in-out; */
}

input,
select {
	--border-radius: 10px;
	width: 100%;
	border: 0;
	background-color: var(--input-background-color);
	color: black;
	outline: none;
	margin-top: 0.5rem;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	border-top-left-radius: var(--border-radius);
	border-top-right-radius: var(--border-radius);
	border-bottom: 2px solid var(--input-background-color);
	transition: border 300ms ease-in-out;

	&:valid {
		border-bottom-color: var(--primary);
	}

	&:focus {
		border-bottom-color: rgb(63, 107, 210);

		&:required:invalid {
			border-bottom-color: var(--error-color);
		}
	}

	&[data-field-valid="false"] {
		border-bottom-color: var(--error-color);
	}

	&:focus + label,
	&:not(:placeholder-shown) + label {
		top: 0;
		font-size: 0.8rem;
		color: #816d6d;
	}

	&:disabled {
		cursor: not-allowed;
		filter: var(--disabled);
	}

	& option {
		padding: 1rem 2rem;
	}
}
