.gradient-background {
	--gradient-start: hsl(
		var(--primary-hue) var(--primary-saturation)
			calc(var(--primary-lightness) - 15%)
	);
	--gradient-middle: hsl(
		var(--primary-hue) var(--primary-saturation)
			calc(var(--primary-lightness) - 5%)
	);
	background: linear-gradient(
		90deg,
		var(--gradient-start),
		var(--gradient-middle),
		var(--primary),
		var(--gradient-start)
	);
	background-size: 200%;
	animation: waves 20s infinite alternate;
	color: white;
}

@keyframes waves {
	from {
		background-position: right;
	}
	to {
		background-position: left;
	}
}

main {
	& > section {
		--small-padding: calc(var(--page-padding) / 2);
		padding: var(--small-padding);
		background: var(--neutral);
		position: relative;
		font-size: 0.8rem;

		&:first-of-type {
			color: white;
			padding: 0;
			display: flex;
			flex-direction: column;
			overflow: hidden;

			& .container {
				padding: var(--small-padding);
				flex: 2;
				display: flex;
				flex-direction: column;
				justify-content: space-between;

				& h1 {
					font-size: 4em;
				}

				& p {
					font-size: 1.6em;
				}

				& h2 {
					font-size: 2.4em;
					margin-bottom: 1rem;
					text-align: left;
					text-transform: uppercase;
				}
			}
		}

		&:nth-of-type(odd):not(:first-of-type) {
			background-color: hsl(
				var(--tertiary-hue),
				var(--tertiary-saturation),
				calc(var(--tertiary-lightness) + 25%)
			);
		}
	}

	& > #call-to-action-footer {
		text-align: center;

		& h2 {
			font-size: 3em;
			text-align: center;
			text-transform: uppercase;
		}
	}
}

@media screen and (min-width: 30rem) {
	main {
		& > section {
			font-size: 0.9rem;
			padding: var(--page-padding);

			&:not(:first-of-type) {
				padding: calc(var(--page-padding) * 3) var(--page-padding);
			}

			&:first-of-type .container {
				padding: var(--page-padding);
			}
		}

		& > #call-to-action-footer {
			padding: calc(var(--page-padding) * 2);
		}
	}
}

@media screen and (min-width: 45rem) {
	main > section {
		font-size: 1rem;

		& > div {
			display: flex;
			gap: 1rem;

			& > * {
				flex: 1;
			}
		}

		&:first-of-type h2 {
			margin-top: 7rem;
		}

		&:nth-of-type(odd) {
			& h2 {
				text-align: right;
			}

			& > div {
				flex-direction: row-reverse;
			}
		}
	}
}

@media screen and (min-width: 55rem) {
	main {
		& > section {
			&:first-of-type {
				flex-direction: row;
				height: 100vh;

				&::after {
					/* Foto von <a href="https://unsplash.com/@cgower?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Christopher Gower</a> auf <a href="https://unsplash.com/de/s/fotos/digital?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
         */
					content: "";
					background-image: url(/images/background.jpg);
					background-size: cover;
					background-clip: content-box;
					flex: 1;
					margin: auto 2rem;
					height: 50%;
				}

				.container {
					display: initial;
				}
			}
		}

		& > #call-to-action-footer {
			padding: calc(var(--page-padding) * 3);
		}
	}
}
