main {
	& > section {
		--small-padding: calc(var(--page-padding) / 2);
		padding: var(--small-padding);
		font-size: 0.6rem;
		display: flex;
		justify-content: center;
		align-items: flex-start;

		& h3 {
			font-weight: 400;
			font-style: italic;
			font-size: 1.5em;
			letter-spacing: -0.05em;
		}

		& .section-content {
			max-width: var(--max-width);
			gap: 2rem;
		}

		&:nth-of-type(odd):not(:first-of-type) {
			background-color: black;
			color: #fff;
		}

		&:first-of-type {
			color: white;
			padding: 0;
			min-height: 100vh;
			background-image: url(/images/background-small.avif),
				linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
			background-position: center center;
			background-size: cover;
			background-blend-mode: multiply;

			& .container {
				max-width: var(--max-width);
				padding: var(--small-padding);
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				text-align: center;

				& h1 {
					font-size: 4em;
				}

				& p {
					font-size: 1.6em;
					font-weight: 300;
					line-height: 1.3em;
				}

				& h2 {
					font-size: 2.4em;
					margin-bottom: 1rem;
					text-align: left;
				}

				& .cta {
					margin-top: 4rem;
				}
			}
		}
	}

	& > #call-to-action-footer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: calc(var(--page-padding) * 3);
		background-color: unset;
		background-image: url(/images/woods-small.avif),
			linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
		background-size: cover;
		background-blend-mode: multiply;

		& h2 {
			font-size: 3em;
			text-align: center;
			text-transform: uppercase;
		}
	}
}

@media screen and (min-height: 90rem) {
	main > section:first-of-type {
		height: 90rem;
	}
}

@media screen and (min-width: 45rem) {
	main > section {
		font-size: 0.8rem;

		& .section-content {
			display: flex;
			gap: 1rem;
			padding: 8rem 2rem;

			& > * {
				flex: 1;
			}
		}

		&:first-of-type {
			& p {
				text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
			}

			& h2 {
				margin-top: 3rem;
			}
		}

		&:nth-of-type(odd) {
			& > div {
				flex-direction: row-reverse;
			}
		}
	}

	footer {
		font-size: 1rem;
	}
}

@media screen and (min-width: 55rem) {
	main {
		& > section {
			font-size: 1rem;

			&:first-of-type {
				background-position: unset;
				background-image: url(/images/background.avif),
					linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));

				& .container .cta {
					margin-top: 8rem;
				}
			}
		}

		& > #call-to-action-footer {
			background-image: url(/images/woods.avif),
				linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));

			& .cta {
				margin-top: 4rem;
			}
		}
	}
}
