html,
body {
	--primary: #ffbf69;
	--secondary: #ff0000f5;
	--tertiary: #ffbf69;
	--color4: #ff0000b9;
	--color5: #ff9f1c;

	--neutral-hue: 0;
	--neutral-saturation: 0%;
	--neutral-lightness: 92%;
	--neutral: hsl(
		var(--neutral-hue) var(--neutral-saturation) var(--neutral-lightness)
	);
	--neutral-variant-hue: 0;
	--neutral-variant-saturation: 0%;
	--neutral-variant-lightness: 96%;
	--neutral-variant: hsl(
		var(--neutral-variant-hue) var(--neutral-variant-saturation)
			var(--neutral-variant-lightness)
	);
	--error-color: #ff0000;
	--disabled: #aaa;
	--page-padding: 2rem;
	--max-width: 97rem;
	--input-background-color: #ccc;
	min-height: 100%;
	margin: 0;
	padding: 0;
	color: #333;
	background-color: var(--neutral-variant);
	font-family: "Open Sans", sans-serif;
	overflow-x: hidden;

	& * {
		box-sizing: border-box;
	}
}

main {
	max-width: var(--max-width);
	margin: 0 auto;
}

.legal-page {
	padding: var(--page-padding);
}

footer {
	max-width: var(--max-width);
	padding: var(--page-padding);
	background: var(--neutral-variant);
}
