<div class="figure-container">
	<div class="figure {{label}} {{label}}-1">
		<span class="top">1</span>
		<span class="top-back">
			<span>1</span>
		</span>
		<span class="bottom">1</span>
		<span class="bottom-back">
			<span>1</span>
		</span>
	</div>

	<div class="figure {{label}} {{label}}-2">
		<span class="top">0</span>
		<span class="top-back">
			<span>0</span>
		</span>
		<span class="bottom">0</span>
		<span class="bottom-back">
			<span>0</span>
		</span>
	</div>
</div>