<div id="countdown">
	<h2>FRÜHLINGSRABATT <strong>20% auf den Angebotspreis</strong> bis zum 01. Juni 2023*</h2>
  <div class="disclaimer">
    * 20% auf den Angebotspreis bei Auftragsannahme bis zum 01.06
  </div>

	<div class="countdown">
		<div class="bloc-time days">
			<span class="count-title">Tage</span>
      {{> countdownCard label="days"}}
		</div>

		<div class="bloc-time hours" data-init-value="24">
			<span class="count-title">Stunden</span>

      {{> countdownCard label="hours"}}
		</div>

		<div class="bloc-time min" data-init-value="0">
			<span class="count-title">Minuten</span>

      {{> countdownCard label="min"}}
		</div>

		<div class="bloc-time sec" data-init-value="0">
			<span class="count-title">Sekunden</span>

      {{> countdownCard label="sec"}}
		</div>
	</div>
</div>