<header>
	<nav>
		<ul class="list">
			<li>
				<a href="index.html"><div>
						<picture>
							<source type="image/avif" srcset="/images/logo2.avif" />
							<img
								height="48"
								width="112"
								src="/images/logo2.png"
								alt="9bytes Logo"
								title="9bytes Logo"
								class="logo"
							/>
						</picture></div></a>
			</li>
		</ul>
	</nav>
</header>